<div id="carousel">
    <div class="slides">
        <div class="slide active"><img src="https://media.istockphoto.com/id/1332486323/photo/big-secret-young-arab-man-sharing-news-with-his-excited-girlfriend.jpg?s=612x612&w=0&k=20&c=akWDGr3R82lMglE7dCkIMbwVH9BQzu9wTxC5mZ0yB8k=" alt="Imagen 1"></div>
        <div class="slide"><img src="https://www.shutterstock.com/image-photo/young-couple-two-friends-family-600nw-2296745393.jpg" alt="Imagen 2"></div>
        <div class="slide"><img src="https://www.shutterstock.com/image-photo/portrait-optimistic-girl-wavy-hairstyle-600nw-2461362537.jpg" alt="Imagen 3"></div>
    </div>
    <div class="dots">
        <span class="dot active" onclick="showSlide(0)"></span>
        <span class="dot" onclick="showSlide(1)"></span>
        <span class="dot" onclick="showSlide(2)"></span>
    </div>
</div>
