<!-- photoCarousel.component.html -->
<div id="carousel">
  <div class="slides">
    <div
      class="slide"
      *ngFor="let image of images; let i = index"
      [class.active]="i === currentSlide"
      [style.display]="i === currentSlide ? 'block' : 'none'"
    >
      <img [src]="image.src" [alt]="image.alt" />
    </div>
  </div>

  <div class="dots">
    <span
      class="dot"
      *ngFor="let _ of images; let i = index"
      [class.active]="i === currentSlide"
      (click)="showSlide(i)"
    ></span>
  </div>
</div>
