<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
</head>
<body id="custom-background">
<app-header></app-header>
<div id="body_container">
  <div id="bodyFrame-container">
    <app-tool-bar (toolBarEvent)="windowSwitched($event)" ></app-tool-bar>
    <app-chat-panel class="chat-panel"></app-chat-panel>
    <app-send-window *ngIf="this.switchWindow === 0" class="contentWindow"></app-send-window>
    <app-chat-window *ngIf="this.switchWindow === 1" class="contentWindow"></app-chat-window>
    <app-edit-window *ngIf="this.switchWindow === 2" class="contentWindow"></app-edit-window>
    <app-request-window *ngIf="this.switchWindow === 3" class="contentWindow"></app-request-window>
    <app-setting-window *ngIf="this.switchWindow === 4" class="contentWindow"></app-setting-window>
  </div>
</div>
<app-footer></app-footer>
</body>
</html>
