.contentWindow {
  width: 70%;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  background-color: #e5ddd5;
  position: relative;
  text-align: center;
}
.conversation-container {
  height: 100%;
}
#requestWindowContainer{
  padding: 1em;
}
ul{
  padding: 2em;
}
