
<div class="toolbar">
  <button id="editButton" (click)="switchWindow(1)"><img src="assets/images/icono.jpg" alt="Botón de editar"></button>
  <button id="sendButton" (click)="switchWindow(0)"><img src="assets/images/play.png" alt="Botón 2"></button>
  <button id="requestButton" (click)="switchWindow(2)"><img src="assets/images/carta.webp" alt="Botón 3"></button>
  <button id="settingButton" (click)="switchWindow(3)"><img src="assets/images/settings.png" alt="Botón 4"></button>
  <button id="audioStories" (click)="switchWindow(4)"><img src="assets/images/audioStories.png"></button>
</div>
