
<div class="toolbar">
  <button id="editButton" (click)="switchWindow('editWindow')"><img src="assets/images/icono.jpg" alt="Botón de editar"></button>
  <button id="sendButton" (click)="switchWindow('sendWindow')"><img src="assets/images/play.png" alt="Botón 2"></button>
  <button id="requestButton" (click)="switchWindow('requestWindow')"><img src="assets/images/carta.webp" alt="Botón 3"></button>
  <button id="settingButton" (click)="switchWindow('settingWindow')"><img src="assets/images/settings.png" alt="Botón 4"></button>
  <button id="audioStories" (click)="switchWindow('chatWindow')"><img src="assets/images/audioStories.png"></button>
</div>
