
<div class="toolbar">
  <button id="editButton" onclick="switchWindow(1)"><img src="assets/images/icono.jpg" alt="Botón de editar"></button>
  <button id="sendButton" onclick="switchWindow(0)"><img src="assets/images/play.png" alt="Botón 2"></button>
  <button id="requestButton" onclick="switchWindow(2)"><img src="assets/images/carta.webp" alt="Botón 3"></button>
  <button id="settingButton" onclick="switchWindow(3)"><img src="assets/images/settings.png" alt="Botón 4"></button>
  <button id="audioStories" onclick="switchWindow(4)"><img src="assets/images/audioStories.png"></button>
</div>
