
<div class="chat-window-container">
  <div class="conversation-main-container" >
    <div class="conversation-container">
      <ul id="chatsWindowContainer">
        <li *ngIf="chatUserProfile" class="chatMessagebox">
          <app-message-audio [userPhoto]="chatUserProfile" ></app-message-audio>
        </li>
        <li *ngIf="currentUserProfile" class="myChatMessage">
          <app-message-audio [userPhoto]="currentUserProfile" ></app-message-audio>
        </li>

        <li *ngIf="chatUserProfile" class="chatMessagebox">
          <app-message-audio [userPhoto]="chatUserProfile" class="chatMessagebox"></app-message-audio>
        </li>
        <li *ngIf="currentUserProfile" class="myChatMessage">
          <app-message-audio [userPhoto]="currentUserProfile" class="myChatMessage"></app-message-audio>
        </li>
      </ul>

    </div>
  </div>
  <div class="button-container">
    <button class="mic-button"><img src="assets/images/microphone.png" alt="microfono"></button>
  </div>
</div>
