<div class="requestMessageBox" >
  <div class="invitationChat">
    <ng-container *ngIf="requestUser.profilePhoto">
      <app-message-audio [userPhoto]="requestUser.profilePhoto"></app-message-audio>
    </ng-container>
  </div>

  <div class="button-box">
    <button class="centerButton">
      <img src="assets/images/aceptar.png" class="acceptButton" (click)="accept()">
    </button>
    <button>
      <img src="assets/images/rechazar.png" class="rejectButton" (click)="reject()">
    </button>
  </div>
</div>

