.player-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 0.8em;
  border-radius: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:hover {
  background: none;
}

input {
  width: 100%;
}

#avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

#playPauseIcon[src="../images/audioPlay.png"] {
  width: 2.5em;
  height: 2.5em;
  margin-top: 0.3em;
}

#playPauseIcon[src="../images/audioStop.png"] {
  width: 2.5em;
  height: 2.5em;
  margin-top: 0.3em;
}

.time {
  font-size: 1.3em;
  font-family: "Lato", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.massage-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-box {
  display: flex;
  align-items: center;
  background: #d3d3d3;
  border-radius: 20px;
  padding: 2%;
  /*padding: 10px;*/
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: #717171 solid 2px;
}
.message-box .avatar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.message-box .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.message-box .text {
  background: #ffffff;
  padding: 10px;
  border-radius: 15px;
  flex: 1;
}
.vibe-photo {
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.button-box {
  width: 14em;
  display: flex;
}

.acceptButton {
  margin: auto;
  width: 3em;
  height: 3em;
}

.rejectButton {
  width: 3em;
  height: 3em;
}
#requestWindowContainer {
  margin: auto;
  width: 90%;
  height: 80%;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1em;
  background-color: #F5ECE0;
  overflow: auto;
}
.centerButton {
  margin:0 2em 0 2em;
}
ul, ol {
  list-style-type: none;
  padding-left: 0;
}
.requestMessageBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em 0 0.5em 0;
}
.invitationChat{
  width: 75%;
}
